#main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px auto;
    place-items: center;
}

#add-contact-area {
    width: 80%;
    margin-top: 40px;
    padding: 10px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    background-color: var(--bg-secondary-color);
    transition: 0.2s ease-out;
}

#add-contact-area {
    text-transform: uppercase;
}

#add-btn {
    border: none;
    padding: 5px 13px;
    border-radius: 50%;
    cursor: pointer;

    font-size: 1.4em;
    background-color: var(--light-bg-color);
}

#add-btn:hover {
    background-color: #cecece;
}

#add-contact-area, #add-btn {
    transition: 0.2s ease-out;
}

#table-area {
    width: 80%;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

#table-area::-webkit-scrollbar {
    width: 6px;
}

#table-area::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
}

#table-area::-webkit-scrollbar-track {
    background-color: var(--bg-secondary-color);
}

#data-table {
    width: 100%;
}

#thead {
    background-color: var(--bg-secondary-color);
    color: var(--light-theme-font-color);
}

#description > th {
    padding: 5px;
    font-weight: 400;
}

.dark-true #add-contact-area {
    background-color: var(--bg-secondary-dark-color);
}

.dark-true #add-btn {
    color: var(--dark-theme-font-color);
    background-color: var(--dark-bg-color);
}

.dark-true #add-btn:hover {
    background-color: #010c14;
}

.dark-true #thead {
    background-color: var(--bg-secondary-dark-color);
    color: var(--dark-theme-font-color);
}

.dark-true #table-area::-webkit-scrollbar-track {
    background-color: #0b3358;
}